.Cassis{
    position: absolute;
    left: 5%;
    top:25%;
    width:50%;
    height:10%
}
.goutHover:hover{transform: scale(1.2);}
.PecheetFruitdelaPassion{
    position: absolute;
    left: 5%;
    top:50%;
    width:50%;
    height:10%
}
.FiguedeBarbarie{
    position: absolute;
    left: 49%;
    top:50%;
    width:50%;
    height:10%
}
.Pasteque{
    position: absolute;
    left: 5%;
    top:75%;
    width:50%;
    height:10%;
}
.CitronVert{
    position: absolute;
    left: 49%;
    top:25%;
    width:50%;
    height:10%
}

.Eau{
    position: absolute;
    left: 49%;
    top:75%;
    width:50%;
    height:10%
}